* {
  margin: 0;
  padding: 0;
 
}
h1 {
  text-align: center;
  margin-top: 8vw;
  font-size:calc(14px + 2vw);
 
}

.container {
  background-color: lavender;
  border: 1vw solid rgb(6, 12, 6);
  padding: 1vw;
  margin: 1vw;
  width: 60vw;
  height: 25vw;
  position: fixed;
  top: 28vw;
  left: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  height: 15vw;
  width: 100%;
  font-size: 2vw;
  resize: none;
}

button {
  height: 2vw;
  width: 10vw;
  margin-left: 25vw;
  cursor: pointer;
  background-color: red;
  border: none;
  border-radius: 25vw;
  font-size: 2vw;
  color: white;
}

p {
  padding: 0.5vw;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}
