body {
  background: black;
}

#container {
  position: absolute;
  width: 500px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 25px;
}
#canvas1 {
  position: relative;
  width: 500px;
  height: 400px;
}
#slider {
  width: 100%;
}
p {
  color: white;
}
