html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #11998e, #38ef7d);
  background-size: cover;
}

.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
  padding: 7px;
}

button {
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
}

#subt {
  background-color: #38ef7d;
  color: #000;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 50px;
  border: 3px solid black;
}

#guessField {
  color: #000;
  width: 550px;
  height: 100px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;
  font-size: 45px;
  /* margin-left: 50px; */
  border: 5px solid #14727d;
  text-align: center;
}

#guess {
  font-size: 55px;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: rgb(231, 2, 2);
  font-weight: bold;
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 750px;
  height: 550px;
  color: rgb(16, 18, 160);
  font-size: 25px;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  width: 750px;
}

p {
  font-size: 20px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
