* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #ad5389, #3c1053);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-repeat: unset;
}

.face {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgb(121, 217, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}
.face::before {
  content: "";
  position: absolute;
  top: 120px;
  width: 150px;
  height: 70px;
  background: #000;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  transition: 0.5s;
}
.face:hover::before {
  top: 120px;
  width: 150px;
  height: 20px;
  background: #000;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.eyes {
  position: relative;
  top: -30px;
  display: flex;
}
.eyes .eye {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  background: #fff;
  margin: 0 15px;
  border-radius: 50%;
}
.eyes .eye::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
}
