@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: repeating-linear-gradient(
      0deg,
      #fff 0%,
      #fff 50%,
      #000 50%,
      #000 100%
    ),
    repeating-linear-gradient(90deg, #fff 0%, #fff 50%, #000 50%, #000 100%);
  background-size: 30px 30px;
  background-blend-mode: difference;
  font-family: "Reggae One", cursive;
  cursor: grab;
}

span {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  background: #333;
  pointer-events: none;
  border-radius: 50%;
  background: url(https://www.indiacarnews.com/wp-content/uploads/2020/07/Upcoming-New-Bike-Launches-1000x600.jpg);
  background-size: cover;
  background-attachment: fixed;
}
